* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
      box-sizing: border-box;
     overflow-x: hidden;
     font-family: 'Roboto', sans-serif;
  }
  
  html {
    --bg: #FCFCFC;
    --bg-side-bar: #E9F0FF;
    --side-bar-text:#353535;
    --main-header-text:black;
    --input-bg:#ffff;
    --label-color:#FE3745;
    --th-color:#000;
    --color-headings:#0077FF;
    --input-text-color:#000;
    --lists-bg:#E9F0FF;
    --color-text:#333333;
    --blured-bg-sidebar:rgba(228, 233, 237, 0.4);
    --hovered-bg-sidebar:rgba(228, 241, 254, 0.2);
  }
  
  html[data-theme="dark"] {
    --bg:#01011c;
    --bg-side-bar:#020221;
    --side-bar-text:#ffff;
    --main-header-text:#fff;
    --input-bg:#01011C;
    --input-text-color:#ffff;
    --lists-bg:#020224;
    --th-color:#fff;
    --label-color:#fff;
    --color-headings:#30D158;
    --color-text:#B5B5B5;
    --blured-bg-sidebar:rgba(2,2,36,0.4);
    --hovered-bg-sidebar:rgba(2,2,36,0.2);
  }
  
  body {
    background-color: var(--bg);
    height: 100vh;
  }
  
  button:focus,input:focus,textarea:focus{
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  
  i {
    cursor: pointer;
  }

  

  /*Disabled Task List Header*/
  .disabled-header{
    color: gray !important;
  }
  

  th{
    font-size: 1.4rem !important;
  }

  